
@mixin flex($flex-direction, $justify-content, $align-items)
  display: flex
  flex-direction: $flex-direction
  justify-content: $justify-content
  align-items: $align-items

@mixin content($padding, $background)
  width: calc(100% - 20px)
  max-width: 1440px
  padding: $padding 10px
  background: $background


body
  font: 100% $font-stack
  color: $light-color
  line-height: 1.5
  background: $bg-dark-color
  font-size: $font-main
  text-align: center

.logo
  font: 110% $font-stack
  &__first-part
    color: $light-color
  &__second__part
    color: $font-color-second

.button a
  display: block
  padding: 15px
  background-color: $light-color
  border-radius: 24px
  color: $font-color-second
  text-transform: uppercase
  @media screen and (max-width: $breakpoint-1)
    width: 100%

.button_big a
  width: 250px
  font-size: 25px

.button_small a
  width: 250px
  font-size: 25px

.title-2
  padding: 0 0 30px 0
  font-size: $font-main-title
  text-transform: uppercase
  color: $font-color-second

.title-3
  padding: 0 0 20px 0
  font-size: $font-main
  text-transform: uppercase
  color: $light-color


.text-bright
  font-size: $font-main
  color: $font-color-second
