$font-stack: 'Inter', sans-serif

$font-big: 30px
$font-button: 25px

$bg-dark-color: #090909
$bg-light-color: #1b1b1b
$light-color: #ffffff


$font-color-second: #00c0ff

$breakpoint-1: 796px
$breakpoint-2: 575px

