//- src/views/components/main-page.pug

div.about-us-page
  div.about-us-page__content
    h2.title-2 О нас
    p.text-bright Фитнес-клубы FITNESSGYM — это комфортные тренажерные залы с новейшим европейским оборудованием, большой выбор групповых программ для взрослых и детей и квалифицированный тренерский состав. Мы делаем качественный фитнес доступным для всех, потому что хотим, чтобы каждый мог заниматься спортом и становиться здоровее с каждым днем.

