//- src/views/components/main-page.pug

div.main-page
  div.main-page__content
    img.main-page__main-pic(src="/assets/images/main-title.png")
    div.main-page__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    div.button.button_big
      a(href="#") Read more

