//- src/views/components/main-page.pug

div.main-page
  div.main-page__content
    img.main-page__main-pic(src="/assets/images/main-title.png")
    div.main-page__text Мы делаем качественный фитнес доступным для всех, потому что верим в желание быть лучше, в здоровое и яркое будущее каждого человека!
    div.button.button_big
      a(href="#") Узнать больше

