//- src/views/components/main-page.pug

div.prices
  div.prices__content-wrapper
    div.prices__content
      h2.title-2 Наши абонементы
      p Мы предлагаем широкий выбор абонементов для того, чтобы вы могли выбрать тот, который будет удобен именно вам!
      div.price-cards
        div.price-card
          h4.title-4 ТРЕНАЖЕРНЫЙ ЗАЛ (ТРЕНИРОВКА + САУНА) 70 ВИЗИТОВ
          div Срок действия 12 мес.
          div.price 7000 р
        div.price-card
          h4.title-4 ТРЕНАЖЕРНЫЙ ЗАЛ (ТРЕНИРОВКА + САУНА)
          div Срок действия 12 мес.
          div.price 10500 р
        div.price-card
          h4.title-4 ТРЕНАЖЕРНЫЙ ЗАЛ (ТРЕНИРОВКА + САУНА)
          div Срок действия 6 мес.
          div.price 7500 р
        div.price-card
          h4.title-4 СЕТЕВОЙ БЕЗЛИМИТНЫЙ
          div Срок действия 6 мес.
          div.price 8910 р
        div.price-card
          h4.title-4 БЕЗЛИМИТНЫЙ
          div Срок действия 1 мес.
          div.price 3150 р
        div.price-card
          h4.title-4 СЕТЕВОЙ БЕЗЛИМИТНЫЙ
          div Срок действия 12 мес.
          div.price 13410 р
