//- src/views/components/quotes.pug

div.quotes
  div.quotes__content
    div.quote
      p.text-bright Ничто так не истощает и не разрушает человеческий организм, как физическое бездействие.
      p.text-bright Аристотель
    div.quote
      p.text-bright Нужно поддерживать крепость тела, чтобы сохранить крепость духа.
      p.text-bright Виктор Гюго
    div.quote
      p.text-bright При помощи физических упражнений и воздержанности большая часть людей может обойтись без медицины.
      p.text-bright Аддисон Джозеф

    div.slider.single-item
      div 1
      div 2
      div 3
      div 4

