//- src/views/components/main-page.pug

div.we-offer
  div.we-offer__content-wrapper
    div.we-offer__content
      div.wow.bounceInLeft(data-wow-duration="2s")
        h3.title-3 Профессиональное оборудование
        p.text-light Наш клуб располагает широким выбором профессионального оборудования от самых известных производителей.
      div.wow.bounceInUp(data-wow-duration="2s")
        h3.title-3 Фитнес для всей семьи
        p.text-light Мы предлагаем не только тренажерный зал и кардио зоны, но также просторный бассейн для взрослых и детей.
      div.wow.bounceInRight(data-wow-duration="2s")
         h3.title-3 Персональные тренировки
         p.text-light Благодаря индивидуальным тренировкам вы сэкономите свое время, ведь инструктор подберет программу, которая поможет достичь поставленных целей в кратчайшие сроки.
